package core

templ homeLink() {
	<a href="/" class="-m-1.5 p-1.5">
		<span class="sr-only">Home</span>
		<img class="h-10 w-auto rounded-xl" height="40" width="40" src="/assets/img/avatar40x40.webp" alt="Profile Icon"/>
	</a>
}
